html {
  font-size: 100%;
}

body {
  display: grid;
  gap: 2rem;
  place-items: left;
  font-size: 1.25rem;
  line-height: 1.35;
  padding: 3rem;
}

a {
  font-size: 2rem;
}

.button {
  background-color: rgb(26, 127, 152);
  font-size: 100%;
  color: white;
  width: 10%;
  height: 2rem;
  border-radius: 0%;
  border: none;
  text-align: center;
}
