html {
  font-size: 100%;
}

body {
  display: grid;
  gap: 1em;
  place-items: left;
  font-size: 1.25rem;
  line-height: 1.35;
  padding: 3rem;
}

input {
  font-size: 100%;
  color: white;
  width: 60%;
  padding: 12px 20px;
  border: 2px solid rgb(26, 127, 152);
  border-radius: 4px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
}

.button {
  font-size: 100%;
  color: white;
  width: 10%;
  height: 2rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(26, 127, 152);
  text-align: center;
}

.form-group {
  margin: 0 auto 1.5rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: right;
  text-align: right;
}

label {
  flex: none;
  width: 100%;
  padding-right: 20px;
  align-items: left;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.image {
  width: 90%;
  height: 90%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
}

a:hover,
a:focus {
  background-color: rgb(26, 127, 152);
  color: white;
  outline: none;
}

a:active {
  background-color: rgb(55, 26, 152);
}

@media (min-width: 600px) {
  a {
    display: inline-block;
  }

  li {
    display: inline-block;
  }
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
