html {
  font-size: 100%;
}

body {
  display: grid;
  place-items: left;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 16px;
  color: rgb(26, 127, 152);
}

input {
  font-size: 100%;
  color: rgb(26, 127, 152);
  width: 50%;
  padding: 12px 20px;
  border: 2px solid rgb(26, 127, 152);
  border-radius: 4px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.959);
  vertical-align: right;
}

input[type="checkbox"] {
  width: 32px;
  margin-left: 1px;
}

.form-div {
  width: 100%;
}

.button {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.959);
  width: 150px;
  max-width: 200px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-color: rgb(26, 127, 152);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.form-group {
  margin: 0 auto 16px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  text-align: left;
}

label {
  flex: none;
  width: 250px;
  display: inline-block;
  padding-right: 20px;
  align-items: left;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-right: 4px;
}

.image-contain {
  object-fit: contain;
  object-position: center;
}

.image {
  width: 100%;
  height: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  border-bottom: 1px solid rgb(26, 127, 152);
  display: block;
  padding: 5px 5px;
  text-decoration: none;
}

a:active {
  background-color: rgb(55, 26, 152);
}

a:hover,
a:focus {
  background-color: rgb(26, 127, 152);
  color: rgba(255, 255, 255, 0.959);
  outline: none;
}

@media (min-width: 600px) {
  a {
    display: inline-block;
  }

  li {
    display: inline-block;
  }
}

address {
  margin-top: 0px;
  margin-bottom: 2px;
}

h1 {
  display: block;
  color: rgb(26, 127, 152);
  font-size: 2em;
  margin-top: 16px;
  margin-bottom: 1px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  color: rgb(26, 127, 152);
  font-size: 1.5em;
  margin-top: 200px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#h2-advise {
  margin-top: 32px;
}

h3 {
  display: block;
  color: rgb(26, 127, 152);
  font-size: 1.17em;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  color: rgb(26, 127, 152);
  font-size: 1em;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  color: rgb(26, 127, 152);
  font-size: 0.83em;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  color: rgb(26, 127, 152);
  font-size: 0.67em;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
